VITE_SUPABASE_URL=https://qllcpbfjxuccecptwyuo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFsbGNwYmZqeHVjY2VjcHR3eXVvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMyMDExNjAsImV4cCI6MjA3ODc3NzE2MH0.g2OsAq6i64rlDgM5cVEqnQ3tNZvWOwAqg58_r-9dFc0