@tailwind base;
@tailwind components;
@tailwind utilities;

/* minimal resets */
html,body,#root { height: 100%; margin: 0; padding: 0; }
body { background: #000; color: #fff; font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }
